<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body style="padding-top: 10px;margin: 0;">
    <table style="width: 100%;font-family: Times New Roman;font-size: 18px;font-weight: 800;">
        <tr>
            <td>Customer Particulars Form</td>
            <!--<td rowspan="2" style="text-align: right;"><img src="../../Content/images/logo.png" style="width:36px;"/></td>-->
            <td rowspan="2" style="text-align: right;"><img src="../../Content/images/gefx_logo.png" style="width:36px;"/></td>
        </tr>
        <tr>
            <td>KYC for Corporate & Trading Authorisation</td>
        </tr>
    </table>
</body>
</html>
