<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: Calibri;
            font-size: 18px !important;
            width: 100%;
            padding: 0px;
            margin: 0px
        }

        strong {
            font-weight: bold;
        }

        table {
            width: 100%;
            font-size: 18px !important;
        }

        table tbody tr:nth-child(n + 4) td{
            padding: 8px 0px;
        }
    </style>
</head>
<body>
    <table>
        <tbody>
            <!--<tr>
                <td colspan="2">
                    <strong>CUSTOMER ACKNOWLEDGEMENT</strong>
                </td>
            </tr>-->
            <!--<tr>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>-->
            <!--<tr>
                <td colspan="2">
                    Customers are requested to examine all notes in exchange during transactions. Under no circumstance we shall entertain any complaint after the transactions.
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    I confirm that I have received the above amount of cash/currency notes/cheques from Great East Forex.
                </td>
            </tr>-->
            <tr>
                <td>
                    Payment by Great East Forex
                </td>
                <td> Company Stamp:</td>
            </tr>
            <tr>
                <td>
                    SGD
                </td>
                <td>Authorised Signatory:</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
