<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: Calibri;
            width: 100%;
        }
        table {
            width: 100%;
        }
    </style>
</head>
<body style="margin-bottom:0px">
    <table style="margin-bottom:0px">
            <tr style="text-align:center">
                <td>
                    <strong style="font-size:28px">CROWN EXCHANGE PTE. LTD.</strong><br />
                    <span>11 Collyer Quay, #02-18/19 The Arcade, Singapore 049317</span><br />
                    <span>Tel: 6223 8838 / Fax: 6324 4855</span><br />
                    <span>Email: crremit@gmail.com</span><br />
                    <small>CO. REGN. NO: 199802150D</small><br />
                    <small>Operating Hours: Mon to Fri 10.00 a.m. to 5.30 p.m.</small>
                </td>
            </tr>
    </table>
</body>
</html>
