<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: Calibri;
            width: 100%;
        }

        table {
            width: 100%;
        }
    </style>
</head>
<body style="margin-bottom:0px">
    <table style="margin-bottom:0px">
        <tr style="text-align:left">
            <td>
                <strong style="font-size:28px">INTERNATIONAL REMITTANCE PTE LTD</strong><br />
                <span>11 COLLYER QUAY #05-06A THE ARCADE, SINGAPORE 049317</span><br />
                <span>TEL: 65-63246395  FAX: 65-63246396</span><br />
                <span>MAS LICENSE NO.: PS20200203   RCB NO.: 199804607C</span><br />
            </td>
        </tr>
    </table>
</body>
</html>
