<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: Calibri;
            font-size: 18px !important;
            width: 100%;
            padding: 0px;
            margin: 0px
        }

        strong {
            font-weight: bold;
        }

        table {
            width: 100%;
            font-size: 18px !important;
        }

        table tbody tr:nth-child(n + 4) td{
            padding: 8px 0px;
        }
    </style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td colspan="2">
                    <strong>CUSTOMER ACKNOWLEDGEMENT</strong>
                </td>
            </tr>
            <!--<tr>
                <td colspan="2">
                    &nbsp;
                </td>
            </tr>-->
            <tr>
                <td colspan="2">
                    Upon receiving notes during our transaction, customers are requested to examine all notes in exchange. Under no circumstances we shall entertain any complaints and we will not be responsible for the discrepancy of notes once the exchange is completed.
                </td>
            </tr>
            <tr>
                <td colspan="2" style="padding-top: 10px;">
                    I confirm that I have received the above amount of cash/currency notes/cheques from Great East Forex.
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    IC:
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Company Stamp and Signature:
                </td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
