<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style type="text/css">
        body {
            font-family: Calibri;
            font-size: 18px !important;
            width: 100%;
            padding: 0px;
            margin: 0px
        }

        strong {
            font-weight: bold;
        }

        table {
            width: 100%;
            font-size: 18px !important;
        }

        table tbody tr:nth-child(n + 4) td{
            padding: 8px 0px;
        }
    </style>
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td colspan="2">
                    Customers are requested to check with their beneficiary if they have received the remitted funds within 2-3 business days from the date of this remittance advice. If funds were not received, please inform us immediately. Under no circumstance shall we entertain any complaint afterwards.
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
